@import './../../Variables';
@import './../../Mixins';

$nice-dates-color-gray-dark: $text-default !default;
$nice-dates-color-gray: $text-highlighted !default;
$nice-dates-color-gray-light: $disabled !default;
$nice-dates-color-accent: $nice-dates-color-gray-dark !default;

$nice-dates-font-size-small: 12px !default;
$nice-dates-font-size-base: 14px !default;
$nice-dates-font-size-big: 16px !default;

@import 'react-nice-dates/src/style.scss';

.calendar-container {
  border: $default-border;
  border-radius: $default-border-radius;
  margin: 10px auto;

  & > div {
    max-width: 100%;
  }

  .nice-dates-navigation {
    max-height: 50px;
  }

  .nice-dates-grid_container {
    .nice-dates-day {
      max-height: 60px;

      &:not(.-available) {
        pointer-events: none;
      }

      &:not(.-disabled) {
        &.-available {
          & > span.nice-dates-day_date {
            border: $default-border;
            width: 43px;
            border-radius: 50%;
            padding: 12px;
          }
  
          &:hover {
            & > span.nice-dates-day_date {
              background-color: $border-color-highlighted;
              border: none;
              color: $white;
            }
          }
        }

        &.-selected {
          &::before {
            background: $border-color-highlighted;
            border: 5px solid $border-color-default;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }

      &:not(.-disabled) {
        &.-today {
          & > span.nice-dates-day_date {
            color: $border-color-highlighted;
            padding: 12px 16px;
            border-radius: 50%;
            border: 2px solid $border-color-highlighted;
          }

          &:hover {
            & > span.nice-dates-day_date {
              background-color: $border-color-highlighted;
            }
          }
        }
      }
    
      &:not(.-disabled) {
        &:hover {
          &:after {
            transform: scale(0.75);
            border: 2px solid $border-color-highlighted;
          }
        } 
      }
    }
  }
}
