$base-color: #12344D;
$background-primary: #ffffff;
$background-secondary: #8191A0;
$link-color: #2c5cc5;
$link-hover-color: #2f80eb;
$text-default: #293A59;
$text-highlighted: #163851;
$font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;